header{
    width: 80%;
    margin: 0 auto;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 40%;
}

.header-info h1{
    font-weight: lighter;
}

.header-info p{
    margin: 20px 0;
}